<!DOCTYPE html>
<html>
	<head>
		<title>{$template.title}</title>


		<script src="/templates/utils.js"></script>
        <script src="/templates/control/ajax.js"></script>


		<link rel="stylesheet" href="/templates/control/styles.css">
	</head>
	<body>
		<div id="login">
			<form id="form" class="right">
				<table class="markup">
					<tr>
						<th></th>
						<td>
                            <img id="captcha-image" alt="CAPTCHA" class="pointer">
						</td>
					</tr>
					<tr>
						<th>captcha:</th>
						<td>
							<input type="text" id="captcha-field" name="captcha" maxlength="6" autocomplete="off">
						</td>
					</tr>
					<tr>
						<th>e-mail:</th>
						<td>
							<input type="text" name="email">
						</td>
					</tr>
					<tr>
						<th>password:</th>
						<td>
							<input type="password" name="password">
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<button>
								<img src="/templates/control/imgs/login.png" alt="Log in">Вход
							</button>
						</td>
					</tr>
				</table>
			</form>
			
			<div>
				<h2>Entrance</h2>
				<p>If you want to enter cSystem’s Control Panel, you must type the security code and account’s data. You have only 10 tries per 2 hours.</p>
			</div>
			
			<div style="clear: both;"></div>
		</div>

        {literal}
		<script>
            // set CAPTCHA
            var captcha = Utils.captcha.init("captcha", "captcha-image", "captcha-field", {id: "captcha", length: 6, width: 200, height: 30, min: 18, max: 24, start: 15, background: "252,252,252"});
            captcha.create();


            // set submit handler on the form
            document.getElementById("form").onsubmit = (function() {
                return function() {
                    captcha.action && Utils.ajax.classes.control.login("form", "captcha");
                    return false;
                };
            })();


			var div = document.getElementById('login');
			div.style.position = 'relative';
			div.style.top = (window.innerHeight / 2 - div.offsetHeight / 2 - 100) + 'px';
			div.style.left = (window.innerWidth / 2 - div.offsetWidth / 2) + 'px';
		</script>
        {/literal}
	</body>
</html>