<!DOCTYPE html>
<html>
    <head>
        <title>{$template.title}</title>

        <script src="/templates/utils.js"></script>
        <script src="/templates/control/ajax.js"></script>
        <script src="/templates/filemaj/ajax.js"></script>
        <script src="/templates/plugins/ace/ace.js"></script>

        <link rel="stylesheet" href="/templates/control/styles.css">
    </head>
    <body>
        <div id="wrapper">
            <aside>
                {strip}
                <div class="block">
                    <nav>
                        <a href="/control">Home</a>
                        <a href="/control/settings">Settings</a>
                        {foreach $control.classes as $class}
                            <a href="/control/class/{$class.name}">{$class.name|capitalize}</a>
                        {/foreach}
                        <a href="/control/informers">Informers</a>
                    </nav>
                </div>


                <div id="filemaj" class="block justify">{$control.filemaj}</div>


                <div class="block">
                    <nav>
                        <form onsubmit="Utils.ajax.classes.control.logout(); return false;">
                            <div class="justify">
                                Вы можете выйти из Панели Управления. Так же Вы автоматически выходите в случае, если не совершали никаких действий (переход по страницам, изменение настроек, сохранение кода) в течение 30 минут.
                            </div>
                            <br>
                            <button>
                                <img src="/templates/control/imgs/logout.png" alt="Log out">Выход
                            </button>
                        </form>
                    </nav>
                </div>
                {/strip}
            </aside>

            <section id="section">
                <header>
                    <h1>Управление cSystem</h1>
                    <div class="description">Настройка системы управления содержимым, построенной по модульному принципу и включающей в себя множество плюшек.</div>
                </header>

                <content id="content">
                    {$template.content}
                </content>

                <footer>
                    cSystem © Илья Черемушкин. Создано в 2012 году путем бессонных ночей и кропотливой работы.
                </footer>
            </section>

            <div style="clear: both;"></div>
        </div>
    </body>
</html>