<!DOCTYPE html>
<html>
	<head>
		<title>{$global.title}</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="charset" content="UTF-8">


        <link type="text/css" rel="stylesheet" href="/templates/styles.css">
        <link type="text/css" rel="stylesheet" href="/templates/errors/styles.css">

        <script src="/templates/utils.js"></script>
        <script src="/templates/ajax.js"></script>


		<link href="/imgs/favicon.ico" rel="shortcut icon" type="image/x-icon">
	</head>

	<body>
		<!-- header -->
		{$global.header}

		<!-- content -->
		<section id="content">
			{$global.error}
		</section>

		<!-- scripts -->
		{$global.scripts}
	</body>
</html>