<!DOCTYPE html>
<html>
	<head>
		<title>{$global.title}</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="charset" content="UTF-8">


        <link type="text/css" rel="stylesheet" href="/templates/styles.css">
        <link type="text/css" rel="stylesheet" href="/templates/blog/styles.css">

        <script src="/templates/utils.js"></script>
        <script src="/templates/blog/ajax.js"></script>


        <link type="text/css" rel="stylesheet" href="/templates/plugins/syntaxHighLighter/styles/shCore.css">
        <link type="text/css" rel="stylesheet" href="/templates/plugins/syntaxHighLighter/styles/shThemeDefault.css">

        <script src="/templates/plugins/syntaxHighLighter/scripts/shCore.js"></script>
        <script src="/templates/plugins/syntaxHighLighter/scripts/shBrushXml.js"></script>
        <script src="/templates/plugins/syntaxHighLighter/scripts/shBrushJScript.js"></script>
        <script src="/templates/plugins/syntaxHighLighter/scripts/shBrushPhp.js"></script>


		<link href="/imgs/favicon.ico" rel="shortcut icon" type="image/x-icon">
	</head>

	<body>
		<!-- header -->
		{$global.header}

		<!-- content -->
		<section id="content">
			{$global.content}
		</section>

		<!-- scripts -->
		{$global.scripts}
	</body>
</html>