{strip}
<h2>Предисловие</h2>
<p>Приветствую вас на главной странице Панели Управления CMS cSystem! Система построена по модульному принципу и, даже это место является модулем системы. Большим и хорошо продуманным модулем. Вы можете сами вносить изменения в его функционал, изменять его и дополнять.</p>
<br>
<p>Предположим, вы создали свой модуль для CMS, например, каталог файлов. Не удобно будет все время редактировать тексты страниц с файлами, названия категорий и другое через phpMyAdmin (а некоторые вообще не знают, что это). Поэтому, для модуля можно будет написать функции, с помощью которых вам будет удобно им управлять. Эти функции будут автоматически загружаться в этой Панели Управления. Я уверен, если вы смогли написать модуль для системы, то и пару функций вы с легкостью осилите.</p>
<br>
<p>Если Вы не умеете писать скрипты на языке программирования PHP, а просто хотите использовать уже готовый функционал, то с этим не будет никаких проблем. На многих, уже существующих страницах Панели Управления, есть подробные описания.</p>
<br>
<p>Предлагаю Вам выбрать модуль или плагин, с которым вы хотите работать в правом меню. Также вы можете перейти на страницу глобальных настроек сайта или на страницу просмотра и настройки информеров (информеры — большая и очень функциональная часть сайта, информацию о которой вы найдете на главной странице информеров в Панели Управления).</p>
{/strip}